:root {
  --purple-gradient: linear-gradient(0deg, rgb(255, 0, 89) 0%, rgb(255, 0, 140) 100%);
  --blue-gradient: linear-gradient(50deg, rgb(70, 152, 203) 0%, rgb(58, 102, 234) 100%);
  --green-gradient: linear-gradient(0deg, rgb(0, 164, 25) 0%, rgb(65, 255, 125) 100%);
  --red-gradient: linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(227, 90, 138) 100%);
  --gray: #707070;
  --blue: #2f9cff;
}

.hide {
  display: none !important;
}
.selected {
  background: var(--purple-gradient) !important;
}
._blue {
  background: var(--blue-gradient) !important;
}
._purple {
  background: var(--purple-gradient) !important;
}
._green {
  background: var(--green-gradient) !important;
}
._red {
  background: var(--red-gradient) !important;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}
body {
  margin: 0;
}
.gray {
  color: var(--gray);
}
.blue {
  color: var(--blue);
}
.nav-hr {
  border: 2px solid var(--gray);
  margin: 0 3rem;
}
.nav {
  height: 150px;
  width: 100%;
}
.burger {
  width: 30px;
  height: 30px;
  margin: auto 0 auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}
.burger div {
  width: 100%;
  height: 6px;
  background-color: var(--gray);
}
.red_dot {
  width: 10px;
  height: 10px;
  background-color: red;
  margin: 0;
}

.nav-row {
  height: 50px;
  width: 95%;
  padding: 0 1rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

.nav-row > :nth-child(n) {
  padding: 0 3rem;
}

.logo-container {
  width: 100%;
  justify-self: flex-end;
  display: flex;
}
.logo {
  width: 40px;
  height: 40px;
  margin: 0.5rem 1rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.13);
  border-radius: 0.3rem;
}
.logo-text {
  margin: auto 1rem;
}

.dropdown-container {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--gray);
  height: fit-content;
  cursor: pointer;
}
.dropdown-container:hover {
  background-color: red;
}
.dropdown-list {
  position: absolute;
}

.boards-container {
  background-color: rgb(232, 232, 232);
  height: 75vh;
  display: grid;
  /* grid-template-columns: 4fr 2fr; */
  grid-template-rows: auto;
  /* display: flex; */
  /* flex-direction: row; */
}
.boards-container--open-doc {
  grid-template-columns: 4fr 2fr !important;
}

.bars-container {
  background-color: white;
  padding: 1rem;
  width: 95%;
  margin: 1rem auto;
  /* flex: auto; */
  display: flex;
  /* flex-direction: row; */
  transform: scaleY(-1);
}
.detail {
  background-color: white;
  padding: 1rem;
  margin: 1rem 1rem 1rem 0;
  overflow-y: scroll;
}
.detail--title {
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  color: white;
}
.detail--content--header {
  color: gray;
}
.detail--content--body {
  color: gray;
  font-weight: 500;
}

.bar {
  flex: auto;
  margin-left: 1px;
  border-radius: 0.7rem;
  background: var(--blue-gradient);
}

.bar--simple {
  flex: auto;
  border-radius: 0;
  background: var(--blue-gradient);
}
@media only screen and (max-width: 1120px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (max-width: 820px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 420px) {
  html {
    font-size: 10px;
  }
}
